<div class="row">
  <div class="col-auto mr-auto">
    <h3 class="text-uppercase">Restringir Redes Sociales</h3>
  </div>
  <ng-container *ngIf="restrictSocialMediaForm !== null">
    <form  class="col-auto" [formGroup]="restrictSocialMediaForm">
      <label class="switch switch-3d switch-success">
        <input type="checkbox" class="switch-input" formControlName="restrictSocialMedia">
        <span class="switch-slider"></span>
      </label>
    </form>
  </ng-container>
</div>
<div class="row">
  <div class="col">
    <p class="text-muted">Restringe el acceso a las redes sociales. Por defecto, se restringe las siguientes redes
      sociales: Facebook, Instagram, TikTok, Twitter, YouTube.</p>
  </div>
</div>
