<app-header
  [fixed]="true"
  [navbarBrandFull]="{src: 'assets/img/brand/focus-helper.png', height: 30, alt: 'Focus Helper'}"
  [navbarBrandMinimized]="{src: 'assets/img/brand/icon.png', height: 30, alt: 'Focus Helper'}"
  [sidebarToggler]="false" [asideMenuToggler]="false" [mobileAsideMenuToggler]="false">
</app-header>
<div class="app-body">
  <app-sidebar #appSidebar [fixed]="true" [display]="'lg'" [compact]="false" class="w-20">
    <app-sidebar-nav [navItems]="navItems" [perfectScrollbar] [disabled]="appSidebar.minimized"></app-sidebar-nav>
  </app-sidebar>
  <!-- Main content -->
  <main class="main">
    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div>
  </main>
</div>
<app-footer>
  <!-- <span><a href="https://coreui.io">CoreUI</a> &copy; 2021 creativeLabs.</span>
  <span class="ml-auto">Powered by <a href="https://coreui.io/angular">CoreUI for Angular</a></span> -->
</app-footer>
