<div class="row">
  <div class="day-selector col-auto pr-3">
    <input type="checkbox" id="day-0-selector" class="day-selector-input d-none" [(ngModel)]="days[0]" (change)="onChange()">
    <label class="day-selector-label" for="day-0-selector">L</label>
  </div>
  <div class="day-selector col-auto p-0 pr-3">
    <input type="checkbox" id="day-1-selector" class="day-selector-input d-none" [(ngModel)]="days[1]" (change)="onChange()">
    <label class="day-selector-label" for="day-1-selector">M</label>
  </div>
  <div class="day-selector col-auto p-0 pr-3">
    <input type="checkbox" id="day-2-selector" class="day-selector-input d-none" [(ngModel)]="days[2]" (change)="onChange()">
    <label class="day-selector-label" for="day-2-selector">X</label>
  </div>
  <div class="day-selector col-auto p-0 pr-3">
    <input type="checkbox" id="day-3-selector" class="day-selector-input d-none" [(ngModel)]="days[3]" (change)="onChange()">
    <label class="day-selector-label" for="day-3-selector">J</label>
  </div>
  <div class="day-selector col-auto p-0 pr-3">
    <input type="checkbox" id="day-4-selector" class="day-selector-input d-none" [(ngModel)]="days[4]" (change)="onChange()">
    <label class="day-selector-label" for="day-4-selector">V</label>
  </div>
  <div class="day-selector col-auto p-0 pr-3">
    <input type="checkbox" id="day-5-selector" class="day-selector-input d-none" [(ngModel)]="days[5]" (change)="onChange()">
    <label class="day-selector-label" for="day-5-selector">S</label>
  </div>
  <div class="day-selector col-auto p-0 pr-3">
    <input type="checkbox" id="day-6-selector" class="day-selector-input d-none" [(ngModel)]="days[6]" (change)="onChange()">
    <label class="day-selector-label" for="day-6-selector">D</label>
  </div>
</div>
