<div class="row">
    <div class="col-auto mr-auto">
        <h3 class="text-uppercase">Activar contraseña de acceso</h3>
    </div>
    <ng-container *ngIf="activatePasswordForm">
        <form class="col-auto" [formGroup]="activatePasswordForm">
            <label class="switch switch-3d switch-success">
                <input type="checkbox" class="switch-input" formControlName="activatePassword">
                <span class="switch-slider"></span>
            </label>
        </form>
    </ng-container>
</div>
<div class="row">
    <div class="col">
        <p class="text-muted">Define una contraseña con la que podras acceder al último sitio bloqueado durante los siguiente 5 min.</p>
    </div>
</div>
