// Variable overrides
$sidebar-width: 300px;
$sidebar-bg: #FFF;
$sidebar-nav-link-color: rgb(48, 48, 48);
$sidebar-nav-link-icon-color: rgb(48, 48, 48);
$sidebar-nav-link-active-color: #000;
$sidebar-nav-link-active-icon-color: #000;
$sidebar-nav-link-hover-bg: #eaeaea;
$sidebar-nav-link-hover-color: #000;
$sidebar-nav-link-hover-icon-color: #000;
// $font-size-base: 1.5rem;
$sidebar-nav-link-padding-y: 1rem;


$body-bg: #FFF;
